//theme light
$color1: #FFFFFF;//white
$color2: #79af2f;//green
$color3: #64646C;//gray
$color4: #f2f5f8;//background color
$color5: #cfcfcf;//light gray
//theme dark
$color-dark1: #000000;//black
$color-dark2: #527e14;//green
$color-dark3: #363636;//gray
$color-dark4: #424242;//background color
$color-dark5: black;//light gray
//#f2f5f8
$color-link: #0096c7;
$footerheight : 60px;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }

a{
    text-decoration: none !important;
    color: $color-link !important;
}

.border-none
{
    border: none !important;
    box-shadow: none !important;
}
  
.footer-height
{
    height: $footerheight;
}

.left-bar-height
{
    height: calc(100vh - #{$footerheight}) !important;
}

.color-link
{
    color: $color-link !important;
}

.theme--light
{
    &.condux.v-application .primary--text {
        color: $color2 !important;
        caret-color: $color2 !important;
    }
    &.condux.v-application .primary {
        background-color: $color2 !important;
        border-color: $color2 !important;
    }
    .color1, .v-data-footer button:not(.v-btn--disabled)
    {
        color: $color1 !important;
    }
    .color2 ,.left-link a, tbody button
    {
        color: $color2 !important;
    }
    .bg-color1
    {
        background-color: $color1 !important;
    }
    .bg-color2, .v-data-footer button:not(.v-btn--disabled)
    {
        background-color: $color2 !important;
    }
    .bg-color3
    {
        background-color: $color3 !important;
    }
    .bg-color4
    {
        background-color: $color4 !important;
    }
    .bg-color5
    {
        background-color: $color5 !important;
    }
    &.condux.bg-color4, .bg-color4
    {
        background-color: $color4 !important;
    }
    .bg-footer
    {
        background-color: $color1 !important;
    }
}

.theme--dark
{
    &.condux.v-application .primary--text {
        color: $color-dark2 !important;
        caret-color: $color-dark2 !important;
    }
    &.condux.v-application .primary {
        background-color: $color-dark2  !important;
        border-color: $color-dark2  !important;
    }
    .color1, .v-data-footer button:not(.v-btn--disabled)
    {
        color: $color1 !important;
    }
    .color2,.left-link a, tbody button
    {
        color: $color2 !important;
    }
    .bg-color1
    {
        background-color: $color-dark1 !important;
    }
    .bg-color2, .v-data-footer button:not(.v-btn--disabled)
    {
        background-color: $color-dark2 !important;
    }
    .bg-color3
    {
        background-color: $color-dark3 !important;
    }
    .bg-color4
    {
        background-color: $color-dark4 !important;
    }
    .bg-color5
    {
        background-color: $color-dark5 !important;
    }
    &.condux.bg-color4, .bg-color4
    {
        background-color: $color-dark4 !important;
    }
    .bg-footer
    {
        background-color: $color-dark3 !important;
    }
}